{
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
    },
    "sourceType": "module"
  },

  "env": {
    "es6": true,
    "node": true
  },

  "plugins": [
    "standard"
  ],

  "globals": {
    "require": 1,
    "module": 1,
    "window": 1,
    "console": 1,
    "document": 1,
    "localStorage": 1,
    "XMLHttpRequest": 1,
    "XDomainRequest": 1
  },

  "rules": {
    "prefer-const": 2,
    "quotes": [2, "single"],
    "eqeqeq": 0,
    "strict": 0,
    "no-underscore-dangle": 0,
    "no-console": 0
  }
}
